/* Importo fuentes  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Universal */
*{
    margin: 0;
    box-sizing: border-box;
}

/*body */
#body-index{
    background-color: gainsboro;
}

/* header */
    /* nav  */

#nav{
    position: fixed;
    top: 0;
    background-color: blue;
    width: 100%;
    font-size: 1rem;
    z-index: 5000;    
}
 
    /* Estilos del logo - enlace a home  */
.logo{
    position: absolute;
    float: left;
    margin-left: 2rem;
    padding: 1%;
    width: 9rem;
    z-index: 25;
}

.logo:hover{
    padding: 2rem;
}

#menu{
    font-size: 2rem;
    color: white;
    float: right;
    margin-right: 4rem;
    line-height: 4rem;
    cursor: pointer;
    display: none;
}

#menu-check{
    display: none;
}

    /* Estilo a div - nav - enlaces a paginas  */
#nav-links{
    display: flex;
    justify-content: center;
    margin-left: 55rem;
    margin-right: 25rem;
}

    /* Estilos nav - enlaces a paginas  */
.resaltar-links{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding: 15%;
    margin: 5%;
    margin-top: 50%;
    margin-bottom: 50%;
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 100;
    font-style: normal;
} 

.resaltar-links:after{
    content: "";
    position: absolute;
    right: 0%;
    bottom: 0;
    left: 7%;
    height: 4px;
    width:86%;
    background: white;
    /* Animacion de derecha a izquierda */
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

.resaltar-links:hover:after{
    /* Animacion de derecha a izquierda */
    transform-origin: left;
    transform: scaleX(1);
}

/* div img whatsapp */
.logo-fijo{
    position: fixed;
    margin: 1%;
    bottom: 2rem;
    right: 2%;
    width: 4rem;
    z-index: 6000;
}

.logo-fijo:hover{
    transform: scale(1.35);
}

/* index  */
/* main  */

/* Primera seccion */
/* Primer div  */

.wave{
    height:40rem;
    width: 100%;
    position: absolute;
    display: flex;
    background-color: green;
    opacity: 0.5;
}

.wave2{
    stroke: none;
    fill: blue;
    height:54%;
    width: 100%;
}

 /* segundo div  */

.seccion-principal{
    position: absolute;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 10%;
    margin-top:12%;
}

    /* h1 */
.bienvenida{
    background-color: blue;
    padding: 2%;
    font-size: 3rem;
    font-family: "MuseoModerno", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

    /* span  */
#color-text{
    color: white;
}

     /* p */
#text{
    color: white;
    margin-top: 3%;
    width: 90%;
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
    /* nav - boton - sumate  */

.boton{
    background-color: green;
    box-shadow: 2px 2px darkgreen;
    border-radius: 5px;
    border: none;
}

.boton:hover{
    transform: scale(1.15);
    background-color: blue;
    box-shadow: 2px 2px darkblue;
    text-decoration: none;
}

    /* Agrego fa-brands del boton instagram para darle el mismo estilo */
.text-boton, .fa-brands{
    padding:2%;
    color: white;
    font-size: 1.1rem;
    text-decoration: none;
}

    /* Estilo para boton sumate - contactate  */

.font-boton{
    font-size: 1.2rem;
    font-family: "MuseoModerno", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: white;   
}

#bot-sumate{
    display: flex;
    justify-content: center;
    margin-left: 75%;
    margin-top: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 10%;
    z-index: 3000;
 }

/* Tercer div  */

.rectangulo-divisor{
    background-color: green;
    position: absolute;
    height: 11%;
    margin-top:43%;
    width: 100%;
}

.rectan{
    margin-top: -55%;
    margin-bottom: -5%;
    fill: blue; 
    fill-opacity:"1";
}

/* Segunda seccion div */

.segunda-seccion{
    position: absolute;
    display: grid;
    grid-template-columns: 25% 50%;
    width: 100%;
    justify-content: space-evenly;
}

/* Primer article */

#primer-art{
    margin-top: 35rem; 
}

/*Para ambos articulos*/

    /* Article  */
.art-index{
    text-align: left;
    background-color: white;
    border-top: 15px solid blue;
    padding:8%;
}

    /* h2  */
.margen-art{
    margin-top: 4rem;
    padding-bottom: 1rem;
    font-size: 2rem;
}

    /* p  */
.art-texto{
    text-align: left;
    margin-top: 1rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: black;
 }

/*  Primer articulo */

    /* div imagenes  */

#img-deportes{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.deporte{
    width:45%;
    height: auto;
}

    /* nav - boton - instagram  */

 #bot-instagram{
    margin: 15% 25% 10% 10% ;
    width:14rem;
 }

/* Segundo article */

    /* div  */
#segundo-art{
    margin-top: 45rem;  
} 

/* div galeria de imagenes */
.galeria-container{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-auto-rows: 350px;
padding: 10px;
grid-gap: 5px;
}

.galeria-img{
width: 100%;
height: auto;
}

.galeria-item{
    margin-top:93rem;
    z-index: 2000;
}

.galeria-item:hover{
    transform: scale(1.15 );
    z-index: 3000;
}

/* footer  */

footer{
    position:absolute;
    background-color: black;
    opacity: 0.9;
    margin-top: 93rem; 
    width: 100%;
    z-index: 1000;    
}

/* div principal  */

.canales-inf{
    background-color: darkslategrey;
    border-top: 15px solid green;
    font-size: 1.8rem;
    color: white;
}

    /* nav - boton - contacto  */

.bot-contacto{
    background-color: green;
    box-shadow: 3px 3px darkgreen;
    border-radius: 5px;
    width: 12%;
    border: none;
    margin-top: 5%;
    text-align: center;
    margin-left: 80%;
    padding:1%;
}

.bot-contacto:hover{
    transform: scale(1.15);
    background-color: blue;
    box-shadow: 3px 3px darkblue;
    text-decoration: none;
}

/* div secundario  */

.canal-inf{
    margin-left:10%;
    margin-top: -3%;
}

    /* h2  */
.font-text-inf{
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    padding-bottom: 2%;
}

/* div tercero contenedor de iconos  */

.contains-circle{
    display: flex;
    margin-top: 7%;
}

    /* div circulo individual para cada icono  */
.circle{
    display: flex;
    justify-content: center;
    text-decoration: none;
    border-radius: 80px;
    background-color: cadetblue;
    width: 4%;
    padding:0.5%;
    margin: 0.5%;
    margin-bottom:8%;
}

.circle:hover{
   background-color: darkcyan;
   transform: scale(1.15);
}

    /* tamaño iconos redes  */
.redes-icon{
    font-size: 1.6rem;
}

 /* pie de página  */
    /* p  */

.pie-pagina{
    color: white;
    padding: 2%;
    margin-left: 8%;
    font-size: 1.5rem;
}

/* -------------------------------------------------------------------------- */
/* SECCION DEPORTES */

/* primer section  */
.submenu-deportes{
    position: absolute;
    width: 100%;
    height: 10rem;
    margin-top: -10rem;
    background-color: darkgreen;
}
    /* ul  */
.deportes{
    list-style-type: none; 
    margin: 2rem;
    padding: 2rem;
    display: grid;
    grid-template-columns:20% 29% 20%;
    justify-content: space-evenly;
    color: white;
    font-family: "Open Sans", sans-serif;   
}

    /* li  */
.deporte{
    padding-bottom: 1rem;
}

.deporte:hover{
    transform-origin: left;
    transform: scale(1.20);

}

/* segunda section  */
    /* h1  */
.intro-deportes{
    margin-top: 15rem;
    background-color: green;
    height: 60rem;
    padding-left: 10rem;
    border-bottom:35px solid blue;
}

.deportes-titulo{
    font-family: "MuseoModerno", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: white;
    font-size: 3rem;
    padding-top: 8rem;
    opacity: 1;
    
}

.deportes-text{
    font-family: "Open Sans", sans-serif;
    color: white;
    width: 60%;
    padding-top: 1rem;
    opacity: 1;
}

.titulo-video{
    background-color: blue;
    margin-top: 5rem;
    width: 10%;
    height: 6%;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    padding-top: 1.3rem;
    font-size: 1rem;
    color: white;
    box-shadow: 2px 2px darkblue;
}

.video-deportes{
    border-top: 20px solid darkblue;
    width: 85%;
    height:50%;
    align-content: center;
}
   


/* Tablet */
@media screen and (min-width: 640px) and (max-width: 1320px){
     /* header */
    /* nav */
    #nav {
        height: 12vh;
        border-bottom: 5px solid white;
    }

     /* Estilos del logo - enlace a home */
    .logo {
        width: 7rem;
    }

    .logo:hover{
        padding: 2%;
    }

     /* Mostrar el icono de la hamburguesa */
    #menu {
        display: block;
    }

    #menu:hover{
        font-size: 2.5rem;
    }

    /* Estilo a div - nav - enlaces a paginas */
    #nav-links {
        display: none;
        flex-direction: column;
        background-color: blue;
        width: 82%;
        margin: 5% 7%;
        padding: 0;
        border-top: 8px solid green;
    }

    .resaltar-links {
        flex-direction: column;
        text-align: left;
        margin: 0rem 5rem;
        padding: 1.5rem;
        font-size: 1rem;
        text-transform: capitalize;
        font-size: large;
    }

    .resaltar-links:after {
        content: "";
        position: absolute;
        align-items: center;
        top: 1rem;
        margin-bottom: 0rem;
        height: 6vh;
        width: 20rem;
        background-color: darkblue;
        opacity: 0.5;
    }

    /* Estilos para el efecto hover en enlaces de navegación */
    .resaltar-links:hover:after {
        transform-origin: left;
        margin-left: -1rem;
        transform: scaleX(1);
        width: 90%; 
    }

    /* Mostrar el menú de navegación cuando el checkbox está marcado */
    #menu-check:checked ~ #nav-links {
        display: flex;
    }

    /* index */
    /* main */

    /* Primera seccion */
    
    
    /* segundo div */
    .seccion-principal {
        position: absolute;
        width: 73%;
        display: flex;
        margin: 10%;
        margin-top: 20%;
    }

    /* h1 */
    .bienvenida {
        padding: 3%;
        font-size: 1.8rem;
    }

    /* p */
    #text {
        margin-top: 8%;
        width: 90%;
        font-size: 1rem;
    }

    /* Agrego fa-brands del boton instagram para darle el mismo estilo */
    .text-boton,
    .fa-brands {
        padding: 5%;
        font-size: 1rem;
    }

    /* Estilo para boton sumate - contactate */
    #bot-sumate {
        margin-top: 8%;
        margin-left: 5%;
        width: 15%;
    }

    /* Tercer div */
    .rectangulo-divisor {
        margin-top: 40rem;
        height: 12%;
    }

    .rectan {
        margin-top: -10rem;   
    }

    /* Segunda seccion div */
    .segunda-seccion {
        position: absolute;
        display: grid;
        grid-template-columns: 80%;
    }

    /* Primer article */
    #primer-art {
        margin-top: 43rem;
    }

    /* nav - boton - instagram */
    #bot-instagram{
        margin: 15% 25% 20% 30% ;
     }

    /* Segundo article */
    /* div */
    #segundo-art {
        margin-top: 15%;
    }

    /* div galeria de imagenes */
    .galeria-container{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 300px;
        padding: 15% 5%;
        }
    
    .galeria-item{
        margin-top:155rem;
        z-index: 2000;
    }

   /* footer  */

    footer{
        position:absolute;
        margin-top: 155rem;  
    }

    /* div principal  */

    .canales-inf{
        font-size: 1.2rem;
        height: 29rem;
    }   

    /* div principal */
    /* nav - boton - contacto */
    .bot-contacto {
        box-shadow: 2px 2px darkgreen;
        width: 25%;
        margin-top: 10rem;
        margin-bottom: -20rem;
        float: right;
        margin-right: 10%;
    }

    /* div secundario  */
  
        /* h2  */
    .font-text-inf{
        padding-bottom: 1rem;
        font-size: 1.2rem;
        margin-top: 11rem;
    }

    /* div tercero contenedor de iconos */
    .contains-circle {
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    /* div circulo individual para cada icono */
    .circle {
        border-radius: 80px;
        width: 8%;
        padding: 1%;
        margin: 2%;
    }

    /* tamaño iconos redes */
    .redes-icon {
        font-size: 1.5rem;
    }

    /* pie de página  */
    /* p  */

    .pie-pagina{
        padding: 3%;
        font-size: 1.2rem;
    }

}

/* Celular */
@media screen and (max-width: 640px) {
    /* header */
    /* nav */
    #nav {
        height: 11vh;
        border-bottom: 5px solid white;
    }

    /* Estilos del logo - enlace a home */
    .logo {
        width: 5rem;
    }

    .logo:hover{
        padding: 3%;
    }

    /* Mostrar el icono de la hamburguesa */
    #menu {
        display: block;
    }

    #menu:hover{
        font-size: 2.5rem;
    }

    /* Estilo a div - nav - enlaces a paginas */
    #nav-links {
        display: none;
        flex-direction: column;
        background-color: blue;
        width: 82%;
        margin: 5% 7%;
        padding: 0;
        border-top: 8px solid green;
    }

    .resaltar-links {
        flex-direction: column;
        text-align: left;
        margin: 0rem 2rem;
        padding: 1.5rem;
        font-size: 1rem;
        text-transform: capitalize;
        font-size: large;
    }

    .resaltar-links:after {
        content: "";
        position: absolute;
        align-items: center;
        top: 1rem;
        margin-bottom: 0rem;
        height: 6vh;
        width: 20rem;
        background-color: darkblue;
        opacity: 0.5;
    }

    /* Estilos para el efecto hover en enlaces de navegación */
    .resaltar-links:hover:after {
        transform-origin: left;
        margin-left: -1rem;
        transform: scaleX(1);
        width: 90%; 
    }

    /* Mostrar el menú de navegación cuando el checkbox está marcado */
    #menu-check:checked ~ #nav-links {
        display: flex;
    }

    /* index */
    /* main */

    /* Primera seccion */
    /* segundo div */
    .seccion-principal {
        position: absolute;
        width: 73%;
        display: flex;
        flex-direction: column;
        margin: 10%;
        margin-top: 25%;
    }

    /* h1 */
    .bienvenida {
        padding: 2%;
        font-size: 1.65rem;
    }

    /* p */
    #text {
        margin-top: 8%;
        width: 90%;
        font-size: 1rem;
    }

    /* Agrego fa-brands del boton instagram para darle el mismo estilo */
    .text-boton, .fa-brands {
        padding: 5%;
        font-size: 0.8rem;
    }

    /* Estilo para boton sumate - contactate */
    #bot-sumate {
        margin-top: 8%;
        margin-left: 5%;
        width: 25%;
    }

    /* Tercer div */
    .rectangulo-divisor {
        margin-top: 40rem;
        height: 12%;
    }

    .rectan {
        margin-top: -6rem;
        
    }

    /* Segunda seccion div */
    .segunda-seccion {
        position: absolute;
        display: grid;
        grid-template-columns: 80%;
    }

    /* Primer article */
    #primer-art {
        margin-top: 43rem;
    }

    /* nav - boton - instagram */
    #bot-instagram {
        margin-bottom: 10%;
        margin-left: 1rem;
    }

    /* Segundo article */
    /* div */
    #segundo-art {
        margin-top: 3rem;
    }

    /* div galeria de imagenes */
    .galeria-container{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 160px;
        
        }

    .galeria-item{
        margin-top: 182rem;
        z-index: 2000;
    }

   /* footer  */

    footer{
        position:absolute;
        bottom: 100; 
        top: 120rem;

        
    }

    /* div principal  */

    .canales-inf{
        font-size: 1.4rem;
        height: 29rem;
    }   

    /* div principal */
    /* nav - boton - contacto */
    .bot-contacto {
        box-shadow: 2px 2px darkgreen;
        width: 30%;
        margin-top: 45%;
        margin-bottom: -45%;
        float: right;
        margin-right: 10%;
    }

    /* div secundario  */
  
        /* h2  */
    .font-text-inf{
        padding-bottom: 3%;
        font-size: 1.2rem;
        margin-top: 25%;
    }

    /* div tercero contenedor de iconos */
    .contains-circle {
        margin-top: 30%;
    }

    /* div circulo individual para cada icono */
    .circle {
        border-radius: 80px;
        width: 8%;
        padding: 1%;
        margin: 2%;
    }

    /* tamaño iconos redes */
    .redes-icon {
        font-size: 1.5rem;
    }

    /* pie de página  */
    /* p  */

    .pie-pagina{
        padding: 3%;
        font-size: 0.9rem;
    
    }
}

