
<header>
    <nav id="nav">
        <a href="../index.html"><img src="../img/club_17_1980.webp" class="logo" alt="Logo Club Diecisiete"></a>
        <input type="checkbox" id="menu-check">
        <label id="menu" for="menu-check">
            <i class="fa-solid fa-bars"></i>
        </label>
        <nav id="nav-links">
            <a class="resaltar-links" href="../site/deportes.html">Deportes</a>
            <a class="resaltar-links" href="../site/institucional.html">Institucional</a>
            <a class="resaltar-links" href="../site/asociarse.html">Asociarse</a>
            <a class="resaltar-links" href="../site/contacto.html">Contacto</a>
        </nav>
    </nav>
    <div>
        <a href="https://web.whatsapp.com/" target="_blank"><img src="../img/logoFijo.webp" class="logo-fijo" alt="Logo fijo Whatsapp"></a>
    </div>
</header>
